In [17]:
import pandas as pd
import pyarrow.parquet as pa
from pathlib import Path

In [18]:
drive_path = '/Users/athulparvelikudy/Personal/ACRTA/tech-test-data/supporting-data/drive'
file_name_0 = 'part-00000-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-11-1-c000.snappy.parquet'
file_name_1 = 'part-00001-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-12-1-c000.snappy.parquet'
file_name_2 = 'part-00002-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-13-1-c000.snappy.parquet'
file_name_3 = 'part-00003-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-14-1-c000.snappy.parquet'
file_name_4 = 'part-00004-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-15-1-c000.snappy.parquet'

full_file_path0 = Path(drive_path) / file_name_0
full_file_path1 = Path(drive_path) / file_name_1
full_file_path2 = Path(drive_path) / file_name_2
full_file_path3 = Path(drive_path) / file_name_3
full_file_path4 = Path(drive_path) / file_name_4

In [20]:
df0 = pa.read_table(full_file_path0)
print(df0.shape)
df0.slice(0, 10).to_pandas()

(1843506, 11)

,trip_id,datetime,vehicle_spec_id,engine_coolant_temp,eng_load,fuel_level,iat,rpm,lat,long,velocity
0,1e20465533c545f98332ff14d5a0af22,2017-01-06 14:41:24,1000502,177.80,210.65,76.00,99.63,2110.55,31.127500,-96.187500,61.01
1,7ddd6571ac1f42959a07de2b599edde8,2017-01-07 14:21:24,1000511,174.00,210.79,143.07,69.00,2053.72,30.794167,-85.312500,58.04
2,afe9ae193f1544398c289a0cb3ff611e,2017-02-14 08:21:22,1000501,96.00,210.18,75.00,99.33,2024.48,32.312500,-98.831389,70.20
3,5d502103c36e4e858388e29b2e173b54,2017-01-07 04:46:54,1000512,107.00,212.01,87.00,89.00,1966.14,30.687500,-102.780833,54.00
4,2cb643b415a74194ae4d80a9e88a8f76,2017-02-14 07:03:08,1000514,82.00,203.69,112.12,53.00,2174.20,33.614722,-100.437500,65.85
5,a1308b6a088d42278fa468c14bdd112e,2017-02-05 02:12:54,1000517,97.00,220.11,56.00,131.29,1998.85,30.652500,-106.062500,55.80
6,117f318b5772453790675133bd8fbe2a,2017-02-04 05:33:56,1000516,143.01,202.72,66.00,142.17,2030.82,29.878056,-81.687500,65.32
7,2df4799783604dd9bcf6c2692a6a6bf2,2017-02-14 07:08:26,1000502,151.02,197.89,59.00,94.00,1911.37,32.437500,-99.171944,68.41
8,b7ed406980c645679a521501bf47f5ca,2017-01-06 21:28:39,1000519,88.00,200.64,170.29,52.00,2168.52,31.062500,-90.585000,45.42
9,96c2aec9925445acb430607c2cd944cf,2017-01-08 11:19:41,1000503,106.00,207.90,96.68,86.00,2122.51,29.812500,-84.609444,69.44

In [21]:
df1 = pa.read_table(full_file_path1)
print(df1.shape)
df1.slice(0, 10).to_pandas()

(1843506, 11)

,trip_id,datetime,vehicle_spec_id,engine_coolant_temp,eng_load,fuel_level,iat,rpm,lat,long,velocity
0,b33da5a28d7a4453b4976af79deb3300,2017-01-06 20:27:37,1000508,97.00,201.03,115.00,83.00,1903.03,30.312500,-92.227222,51.27
1,58624b3aa0b94b70931fd63edca5fc35,2017-02-04 07:32:52,1000513,105.00,210.19,206.23,90.00,2066.05,33.985278,-111.562500,64.18
2,4f3d4f26f36540f985bfd02f284217e1,2017-01-15 19:06:16,1000517,90.00,185.53,127.88,75.00,2027.55,32.541944,-105.312500,78.17
3,5a4f4144038e431da6beb746b2b9e8e0,2017-01-06 21:35:43,1000512,84.00,193.67,147.78,74.00,2051.93,31.407778,-91.187500,50.74
4,9dbece0019ee47d08b233409381404bf,2017-02-14 06:47:09,1000518,101.00,210.21,108.00,72.00,2060.80,33.223333,-100.312500,73.95
5,a6a7e6647ca144049463fbc46d848488,2017-02-04 07:22:38,1000514,148.60,205.92,78.00,85.27,2122.30,32.437500,-110.185278,56.94
6,6d42a31c72924a3f802dd0b0ed4be0ab,2017-01-03 00:06:11,1000514,101.00,194.49,75.00,140.16,2044.12,30.687500,-87.584444,49.07
7,ab42696dc3bd494cb8c451da49d39dd8,2017-01-28 17:06:58,1000511,84.00,209.63,125.19,123.33,1971.48,28.812500,-107.446389,72.26
8,7dc57c3cc28b46d3aedae372896883f3,2017-01-06 17:18:35,1000518,143.06,191.55,114.53,86.00,2119.22,31.247222,-95.937500,58.50
9,19894adaebf945ff92ef14c1af2760f0,2017-01-02 02:21:52,1000506,103.00,205.90,101.56,76.00,2040.33,30.437500,-99.198056,48.99

In [22]:
df2 = pa.read_table(full_file_path2)
print(df2.shape)
df2.slice(0, 10).to_pandas()

(1843505, 11)

,trip_id,datetime,vehicle_spec_id,engine_coolant_temp,eng_load,fuel_level,iat,rpm,lat,long,velocity
0,12d70e0bfae24e3fbce6af4599528e27,2017-01-29 10:39:29,1000507,87.00,222.36,76.00,50.00,2041.82,31.812500,-107.779444,42.62
1,3a72133e2af54d5384c24a89227f8805,2017-01-06 21:08:03,1000500,95.00,209.74,173.80,144.77,2096.60,30.812500,-89.178333,63.22
2,48ae3b790f9e45e19ef6bc087b4b3c4f,2017-01-22 19:00:31,1000501,172.69,212.70,151.58,80.00,2095.47,32.312500,-86.553889,62.87
3,3a7e14e63a5a4d68a0ef6c6399e525b2,2017-02-20 22:22:23,1000510,96.00,205.76,170.74,70.00,2134.36,31.685556,-92.937500,57.25
4,4b5ccfa3536d452d92ef8f628a974e3d,2017-01-06 10:01:43,1000504,82.00,207.18,70.00,114.05,1986.92,31.062500,-96.783889,69.38
5,05fb7678346d466db8228ad002bb7840,2017-01-21 20:34:10,1000501,159.58,224.19,100.59,90.00,1909.70,29.062500,-107.493056,61.53
6,76ea818bcbae4a6b82945e9184814293,2017-01-07 03:47:35,1000500,164.35,182.83,205.08,76.97,1995.44,30.687500,-87.644444,57.49
7,99286cac439d4ddeb287ba486709b0d2,2017-01-16 00:34:11,1000501,88.00,203.70,178.30,74.00,2188.92,32.312500,-98.992778,55.91
8,07422af3a3d24358ab191cca830473e8,2017-01-06 21:21:46,1000509,97.00,211.72,81.00,135.39,1898.30,31.175278,-89.312500,78.06
9,9a4f5b6556f842e08d4b0fafa40ee6f4,2017-01-28 13:10:30,1000508,97.00,209.66,184.79,117.41,2185.18,30.062500,-103.012500,75.04

In [23]:
df3 = pa.read_table(full_file_path3)
print(df3.shape)
df3.slice(0, 10).to_pandas()

(1843505, 11)

,trip_id,datetime,vehicle_spec_id,engine_coolant_temp,eng_load,fuel_level,iat,rpm,lat,long,velocity
0,6ecdc65e06614435a120dcb58b54492b,2017-01-07 00:28:47,1000516,94.00,209.80,150.71,49.00,1991.13,33.167222,-91.562500,59.32
1,696f5e96090447c6820f97f71dd45f04,2017-01-07 14:40:18,1000513,157.65,202.35,93.00,61.00,2053.44,31.984167,-93.812500,79.11
2,3ab245c617cb4010a4462f7f3b618542,2017-02-14 08:59:59,1000513,139.80,198.67,176.27,144.13,2124.45,34.312222,-100.312500,64.07
3,0b8737f11b714eec926fc1a16db61dc1,2017-01-21 09:08:31,1000502,137.77,207.04,64.00,55.00,2071.14,32.204444,-91.937500,35.04
4,8aced142b70b41beabec7b8541825464,2017-01-06 23:36:46,1000509,155.62,203.37,124.08,89.02,1953.06,31.562500,-87.449722,54.40
5,8969311754d04a4c9e5fc1b1062a0b0e,2017-02-20 09:17:47,1000508,103.00,199.49,69.00,74.00,1914.01,31.358889,-96.312500,70.40
6,594fbe488f174bd1a9191237f8e37749,2017-01-06 21:21:06,1000510,110.00,196.89,106.48,38.00,2001.71,30.062500,-92.335833,77.27
7,258c58632cd946ae994c631fdef786ad,2017-01-06 23:12:36,1000505,144.03,204.12,104.00,77.00,2116.46,31.062500,-87.227500,78.10
8,1c71fb4003f84de8b341064a3f608ca2,2017-01-07 12:03:41,1000507,80.00,184.12,114.00,126.24,2079.61,29.812500,-90.001111,92.78
9,685807f2a0824fbc883cb4c42a955faa,2017-02-25 15:27:44,1000500,108.00,218.44,182.55,119.76,2082.51,28.937500,-80.225278,69.63

In [24]:
df4 = pa.read_table(full_file_path4)
print(df4.shape)
df4.slice(0, 10).to_pandas()

(1843506, 11)

,trip_id,datetime,vehicle_spec_id,engine_coolant_temp,eng_load,fuel_level,iat,rpm,lat,long,velocity
0,82bb743513504826807062eb52f70f49,2017-01-09 08:11:57,1000516,176.19,200.09,163.80,95.35,2134.65,31.562500,-100.488333,51.68
1,3e8218a8d31b41a1a5ae9e8e2112e0ef,2017-01-02 12:11:14,1000516,165.27,195.29,155.59,117.50,2092.48,31.374722,-97.312500,90.51
2,901e3d9f01414f37a465aa2a7ee5c0ac,2017-02-14 05:36:12,1000504,81.00,219.30,86.00,112.20,2180.18,32.915833,-100.187500,51.28
3,3cbfe3c8650e46d3ac4b530f81b84602,2017-01-02 14:57:27,1000513,93.00,200.70,90.00,151.32,2042.25,33.145000,-94.812500,87.06
4,504802fd8bfc4a0db4862d929e2216ee,2017-01-06 17:45:35,1000511,139.39,214.21,213.99,69.00,2183.71,31.697222,-89.437500,83.05
5,0b9bd5528d364d5692d74feb4a4d44f2,2017-01-06 19:21:31,1000501,100.00,222.34,87.00,77.00,1999.77,31.312500,-88.453889,54.84
6,a9cc8c4fc788430d993fd1d2a62d8c0e,2017-01-18 07:06:28,1000512,104.00,192.05,60.00,135.96,1889.81,29.295278,-96.312500,71.55
7,12ebda7f598a401eb2bfd318355104bd,2017-01-07 02:52:10,1000503,100.00,219.18,114.00,115.19,2032.59,30.812500,-84.693056,58.46
8,25bee519a37649b197e5505aff719991,2017-01-07 12:53:51,1000501,99.00,200.05,147.89,85.22,1929.24,30.710000,-89.937500,57.21
9,239e85b5e85a4420a60e8c3459136ffa,2017-01-07 16:00:37,1000517,172.39,205.12,109.62,52.00,1903.82,32.447778,-85.812500,58.90