In [3]:
"""_summary_
df_vehicle  : vehicle spec csv file
                assumptions:
                + year affects it ? no becuase not a primary key
df_0        : parquet file 1 for driving data - raw
df_0_1      : df_0 with date and time seperated into seperate columns 
                assumptions: 
                + duplicate times / vehicle spec ids - do a distinct at the start (if necessary after confirming)
                + trip duration : max_time - min_time per vehicle, on that 
                    + vehicle was running continuously without stopping 
                    + can we figure out if it did stop? exclude velocity = 0/null data
                + distance travelled: distance between the lat/long of max_time and min_time
                    + this is the displacement not the distance
                    + to improve : use a lag/lead to calculate the displacement between each timestamp update per vehicle and sum up total distance travelled 




"""

'_summary_\ndf_vehicle  : vehicle spec csv file\n                assumptions:\n                + year affects it ? no becuase not a primary key\ndf_0        : parquet file 1 for driving data - raw\ndf_0_1      : df_0 with date and time seperated into seperate columns \n                assumptions: \n                + duplicate times / vehicle spec ids - do a distinct at the start (if necessary after confirming)\n                + trip duration : max_time - min_time per vehicle, on that \n                    + vehicle was running continuously without stopping \n                    + can we figure out if it did stop? exclude velocity = 0/null data\n                + distance travelled: distance between the lat/long of max_time and min_time\n                    + this is the displacement not the distance\n                    + to improve : use a lag/lead to calculate the displacement between each timestamp update per vehicle and sum up total distance travelled \n\n\n\n\n'

In [4]:
import pandas as pd
import pyarrow.parquet as pa
from pathlib import Path
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

In [5]:
data_path = '/Users/athulparvelikudy/Personal/ACRTA/tech-test-data/supporting-data'
file_name_0 = 'drive/part-00000-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-11-1-c000.snappy.parquet'
file_name_1 = 'drive/part-00001-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-12-1-c000.snappy.parquet'
file_name_2 = 'drive/part-00002-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-13-1-c000.snappy.parquet'
file_name_3 = 'drive/part-00003-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-14-1-c000.snappy.parquet'
file_name_4 = 'drive/part-00004-tid-4109877695252048813-a3139a95-1807-419c-af03-4877385b4c8c-15-1-c000.snappy.parquet'
vehicle_file = 'vehicle.csv'

vehicle_csv = str(Path(data_path) / vehicle_file)

full_file_path0 = str(Path(data_path) / file_name_0)
full_file_path1 = str(Path(data_path) / file_name_1)
full_file_path2 = str(Path(data_path) / file_name_2)
full_file_path3 = str(Path(data_path) / file_name_3)
full_file_path4 = str(Path(data_path) / file_name_4)

In [6]:


spark = (
    SparkSession.builder
    .appName("ReadLocalParquet")
    .getOrCreate()
)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/27 20:59:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark.version

'4.1.0'

In [8]:
df_0 = spark.read.parquet(full_file_path0)

In [9]:
df_0.printSchema()
df_0.count()

root
 |-- trip_id: string (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- vehicle_spec_id: long (nullable = true)
 |-- engine_coolant_temp: double (nullable = true)
 |-- eng_load: double (nullable = true)
 |-- fuel_level: double (nullable = true)
 |-- iat: double (nullable = true)
 |-- rpm: double (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- velocity: double (nullable = true)

1843506

In [10]:
df_vehicle = (
    spark.read
    .option("header", "true") 
    .option("inferSchema", "true") 
    .csv(vehicle_csv)
)

df_vehicle.printSchema()
df_vehicle.count()

root
 |-- vehicle_spec_id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- drivetrain: integer (nullable = true)
 |-- max_torque: integer (nullable = true)
 |-- max_horsepower: integer (nullable = true)
 |-- max_horsepower_rpm: integer (nullable = true)
 |-- max_torque_rpm: integer (nullable = true)
 |-- engine_displacement: double (nullable = true)
 |-- fuel_type: integer (nullable = true)
 |-- fuel_tank_capacity: integer (nullable = true)
 |-- fuel_economy_city: double (nullable = true)
 |-- fuel_economy_highway: double (nullable = true)
 |-- cylinders: integer (nullable = true)
 |-- forced_induction: string (nullable = true)
 |-- device_generation: integer (nullable = true)

7

In [11]:
print("Parquet file (10 rows):")
df_0.show(10, truncate=False)

print("CSV file (10 rows):")
df_vehicle.show(10, truncate=False)

Parquet file (10 rows):
+--------------------------------+-------------------+---------------+-------------------+--------+----------+------+-------+------------------+-------------------+--------+
|trip_id                         |datetime           |vehicle_spec_id|engine_coolant_temp|eng_load|fuel_level|iat   |rpm    |lat               |long               |velocity|
+--------------------------------+-------------------+---------------+-------------------+--------+----------+------+-------+------------------+-------------------+--------+
|1e20465533c545f98332ff14d5a0af22|2017-01-06 14:41:24|1000502        |177.8              |210.65  |76.0      |99.63 |2110.55|31.1275           |-96.1875           |61.01   |
|7ddd6571ac1f42959a07de2b599edde8|2017-01-07 14:21:24|1000511        |174.0              |210.79  |143.07    |69.0  |2053.72|30.79416666666667 |-85.3125           |58.04   |
|afe9ae193f1544398c289a0cb3ff611e|2017-02-14 08:21:22|1000501        |96.0               |210.18  |75.0      |99.33 |2024.48|32.3125           |-98.83138888888888 |70.2    |
|5d502103c36e4e858388e29b2e173b54|2017-01-07 04:46:54|1000512        |107.0              |212.01  |87.0      |89.0  |1966.14|30.6875           |-102.78083333333333|54.0    |
|2cb643b415a74194ae4d80a9e88a8f76|2017-02-14 07:03:08|1000514        |82.0               |203.69  |112.12    |53.0  |2174.2 |33.61472222222223 |-100.4375          |65.85   |
|a1308b6a088d42278fa468c14bdd112e|2017-02-05 02:12:54|1000517        |97.0               |220.11  |56.0      |131.29|1998.85|30.6525           |-106.0625          |55.8    |
|117f318b5772453790675133bd8fbe2a|2017-02-04 05:33:56|1000516        |143.01             |202.72  |66.0      |142.17|2030.82|29.878055555555555|-81.6875           |65.32   |
|2df4799783604dd9bcf6c2692a6a6bf2|2017-02-14 07:08:26|1000502        |151.02             |197.89  |59.0      |94.0  |1911.37|32.4375           |-99.17194444444445 |68.41   |
|b7ed406980c645679a521501bf47f5ca|2017-01-06 21:28:39|1000519        |88.0               |200.64  |170.29    |52.0  |2168.52|31.0625           |-90.585            |45.42   |
|96c2aec9925445acb430607c2cd944cf|2017-01-08 11:19:41|1000503        |106.0              |207.9   |96.68     |86.0  |2122.51|29.8125           |-84.60944444444443 |69.44   |
+--------------------------------+-------------------+---------------+-------------------+--------+----------+------+-------+------------------+-------------------+--------+
only showing top 10 rows
CSV file (10 rows):
+---------------+----+----------+-----------+----------+----------+--------------+------------------+--------------+-------------------+---------+------------------+-----------------+--------------------+---------+----------------+-----------------+
|vehicle_spec_id|year|make      |Model      |drivetrain|max_torque|max_horsepower|max_horsepower_rpm|max_torque_rpm|engine_displacement|fuel_type|fuel_tank_capacity|fuel_economy_city|fuel_economy_highway|cylinders|forced_induction|device_generation|
+---------------+----+----------+-----------+----------+----------+--------------+------------------+--------------+-------------------+---------+------------------+-----------------+--------------------+---------+----------------+-----------------+
|1000500        |2016|Honda     |Civic      |2         |174       |140           |6500              |1500          |1.799              |1059     |47                |16.5             |20.0                |4        |1054            |5                |
|1000501        |2016|Jeep      |Compass    |4         |350       |171           |3750              |1250          |1.956              |1059     |60                |17.1             |21.2                |3        |null            |4                |
|1000502        |2016|Hyundai   |Creta      |2         |260       |126           |4000              |1500          |1.582              |1059     |55                |19.67            |24.1                |4        |1054            |3                |
|1000503        |2016|Skoda     |Superb     |2         |250       |177           |5100              |1750          |1.798              |1059     |66                |14.67            |23.3                |3        |null            |2                |
|1000504        |2017|Volkswagen|Passat     |4         |350       |174           |3600              |1500          |1.968              |1059     |66                |17.42            |20.43               |4        |null            |4                |
|1000506        |2017|BMW       |3 Series GT|2         |400       |188           |4000              |1800          |1.995              |1059     |57                |21.76            |26.32               |3        |null            |3                |
|1000507        |2017|Audi      |Q3         |3         |250       |148           |5000              |1400          |1.395              |1059     |64                |16.9             |21.4                |3        |1054            |2                |
+---------------+----+----------+-----------+----------+----------+--------------+------------------+--------------+-------------------+---------+------------------+-----------------+--------------------+---------+----------------+-----------------+

In [12]:
df_0_1 = (
    df_0
    .withColumn("date", F.to_date("datetime"))
    .withColumn("time", F.date_format("datetime", "HH:mm:ss"))
)

In [13]:
input_dt = "2017-01-06"
# TODO: make a check to see if the input is in the correct format before processing

df_2017_01_06 = df_0_1.filter(F.col("date") == F.lit(input_dt))

df_2017_01_06.count() # around 300k

# df_2017_01_06.show(20, truncate=False)

# df_2017_01_06.orderBy(F.col("time").desc()).show(20, truncate=False)

df_2017_01_06.orderBy("time", ascending=False).limit(5).show(truncate=False)

df_joined = (
    df_0_1
    .filter(F.col("date") == F.to_date(F.lit(input_dt)))
    .join(df_vehicle, on="vehicle_spec_id", how="left")
).limit(5).show()

+--------------------------------+-------------------+---------------+-------------------+--------+----------+------+-------+-----------------+------------------+--------+----------+--------+
|trip_id                         |datetime           |vehicle_spec_id|engine_coolant_temp|eng_load|fuel_level|iat   |rpm    |lat              |long              |velocity|date      |time    |
+--------------------------------+-------------------+---------------+-------------------+--------+----------+------+-------+-----------------+------------------+--------+----------+--------+
|3f016fd4116642048584a772e191b656|2017-01-06 23:59:59|1000503        |147.8              |206.22  |97.0      |51.0  |1925.99|29.9375          |-92.06277777777777|91.88   |2017-01-06|23:59:59|
|258c58632cd946ae994c631fdef786ad|2017-01-06 23:59:59|1000505        |154.97             |189.0   |109.0     |81.0  |2097.02|31.0625          |-86.43777777777778|68.27   |2017-01-06|23:59:59|
|a810e2af97fd4652a2469796db67d2ce|2017-01-06 23:59:59|1000504        |172.85             |203.54  |107.13    |80.27 |2166.8 |34.06222222222222|-90.1875          |68.77   |2017-01-06|23:59:59|
|77b52511437f4b78871eb1ef6080daae|2017-01-06 23:59:59|1000506        |85.0               |212.3   |162.25    |139.95|2068.59|32.81222222222222|-87.6875          |42.09   |2017-01-06|23:59:59|
|9d02b30f27174525a37674aa56b6279f|2017-01-06 23:59:59|1000517        |169.36             |209.92  |180.66    |109.59|2169.41|31.8125          |-87.81277777777777|57.88   |2017-01-06|23:59:59|
+--------------------------------+-------------------+---------------+-------------------+--------+----------+------+-------+-----------------+------------------+--------+----------+--------+

+---------------+--------------------+-------------------+-------------------+--------+----------+------+-------+-----------------+------------------+--------+----------+--------+----+-------+-----+----------+----------+--------------+------------------+--------------+-------------------+---------+------------------+-----------------+--------------------+---------+----------------+-----------------+
|vehicle_spec_id|             trip_id|           datetime|engine_coolant_temp|eng_load|fuel_level|   iat|    rpm|              lat|              long|velocity|      date|    time|year|   make|Model|drivetrain|max_torque|max_horsepower|max_horsepower_rpm|max_torque_rpm|engine_displacement|fuel_type|fuel_tank_capacity|fuel_economy_city|fuel_economy_highway|cylinders|forced_induction|device_generation|
+---------------+--------------------+-------------------+-------------------+--------+----------+------+-------+-----------------+------------------+--------+----------+--------+----+-------+-----+----------+----------+--------------+------------------+--------------+-------------------+---------+------------------+-----------------+--------------------+---------+----------------+-----------------+
|        1000502|1e20465533c545f98...|2017-01-06 14:41:24|              177.8|  210.65|      76.0| 99.63|2110.55|          31.1275|          -96.1875|   61.01|2017-01-06|14:41:24|2016|Hyundai|Creta|         2|       260|           126|              4000|          1500|              1.582|     1059|                55|            19.67|                24.1|        4|            1054|                3|
|        1000519|b7ed406980c645679...|2017-01-06 21:28:39|               88.0|  200.64|    170.29|  52.0|2168.52|          31.0625|           -90.585|   45.42|2017-01-06|21:28:39|NULL|   NULL| NULL|      NULL|      NULL|          NULL|              NULL|          NULL|               NULL|     NULL|              NULL|             NULL|                NULL|     NULL|            NULL|             NULL|
|        1000500|472c62cc56b8421f8...|2017-01-06 21:30:14|             166.89|  214.13|    198.19| 100.9|2117.86|32.94138888888889|          -93.8125|    78.5|2017-01-06|21:30:14|2016|  Honda|Civic|         2|       174|           140|              6500|          1500|              1.799|     1059|                47|             16.5|                20.0|        4|            1054|                5|
|        1000507|af2509615c5c4b2db...|2017-01-06 05:56:52|               99.0|  193.27|      74.0|  56.0|1942.12|32.01027777777778|          -98.3125|   62.75|2017-01-06|05:56:52|2017|   Audi|   Q3|         3|       250|           148|              5000|          1400|              1.395|     1059|                64|             16.9|                21.4|        3|            1054|                2|
|        1000512|b4fe7684a95745b49...|2017-01-06 23:01:08|             168.25|  205.93|      82.0|105.13|2191.93|          31.8125|-87.91861111111112|    95.6|2017-01-06|23:01:08|NULL|   NULL| NULL|      NULL|      NULL|          NULL|              NULL|          NULL|               NULL|     NULL|              NULL|             NULL|                NULL|     NULL|            NULL|             NULL|
+---------------+--------------------+-------------------+-------------------+--------+----------+------+-------+-----------------+------------------+--------+----------+--------+----+-------+-----+----------+----------+--------------+------------------+--------------+-------------------+---------+------------------+-----------------+--------------------+---------+----------------+-----------------+

25/12/27 20:59:53 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [14]:


df_trip_duration_1 = (
    df_2017_01_06
    .groupBy("vehicle_spec_id", "trip_id")
    .agg(
        F.min("datetime").alias("min_datetime"),
        F.max("datetime").alias("max_datetime"),
    )
    .withColumn("trip_duration_seconds", F.unix_timestamp("max_datetime") - F.unix_timestamp("min_datetime"))
    .select( "trip_id", "vehicle_spec_id", "trip_duration_seconds")
)

df_trip_duration_2 = (
    df_2017_01_06
    .groupBy("vehicle_spec_id")
    .agg(
        F.min("datetime").alias("min_datetime"),
        F.max("datetime").alias("max_datetime"),
    )
    .withColumn("trip_duration_seconds", F.unix_timestamp("max_datetime") - F.unix_timestamp("min_datetime"))
    .select( "vehicle_spec_id", "trip_duration_seconds")
)


# df_trip_duration.show(20, truncate=False)
vehicle_cnt = df_2017_01_06.select("vehicle_spec_id").distinct().count()
print(f"df_2017_01_06 vehicles: {vehicle_cnt}")

trip_cnt = df_2017_01_06.select("vehicle_spec_id", "trip_id").distinct().count()
print(f"df_2017_01_06 trips: {trip_cnt}")

print(f'df_trip_duration_1: {df_trip_duration_1.count()}')
print(f'df_trip_duration_2: {df_trip_duration_2.count()}')

df_trip_duration_1.select("vehicle_spec_id", "trip_id").distinct().count()
df_trip_duration_2.select("vehicle_spec_id").distinct().count()

df_2017_01_06 vehicles: 20
df_2017_01_06 trips: 336
df_trip_duration_1: 336
df_trip_duration_2: 20

20

In [15]:
df_duration = (
    df_2017_01_06
    .groupBy("vehicle_spec_id")
    .agg(
        F.min("datetime").alias("min_datetime"),
        F.max("datetime").alias("max_datetime"),
    )
    .withColumn("trip_duration_seconds", F.unix_timestamp("max_datetime") - F.unix_timestamp("min_datetime"))
    .select( "vehicle_spec_id", "trip_duration_seconds")
)

w = Window.partitionBy("vehicle_spec_id").orderBy(F.col("datetime").asc())

df_min_trip = (
    df_2017_01_06
    .withColumn("rn", F.row_number().over(w))
    .filter(F.col("rn") == 1)
    .select(
        "vehicle_spec_id",
        F.col("trip_id").alias("min_time_trip_id")
    )
)

df_trip_duration = (
    df_duration
    .join(df_min_trip, on="vehicle_spec_id", how="left")
    .select("vehicle_spec_id", "min_time_trip_id", "trip_duration_seconds")
)

df_trip_duration.count()

20

In [16]:
w_asc  = Window.partitionBy("trip_id").orderBy(F.col("datetime").asc())
w_desc = Window.partitionBy("trip_id").orderBy(F.col("datetime").desc())

df_start = (
    df_2017_01_06
    .withColumn("rn", F.row_number().over(w_asc))
    .filter(F.col("rn") == 1)
    .select(
        "trip_id",
        "vehicle_spec_id",
        F.col("datetime").alias("start_datetime"),
        F.col("lat").alias("start_lat"),
        F.col("long").alias("start_long"),
    )
)

df_end = (
    df_2017_01_06
    .withColumn("rn", F.row_number().over(w_desc))
    .filter(F.col("rn") == 1)
    .select(
        "trip_id",
        F.col("datetime").alias("end_datetime"),
        F.col("lat").alias("end_lat"),
        F.col("long").alias("end_long"),
    )
)

df_trip_summary = (
    df_start.alias("s")
    .join(df_end.alias("e"), on="trip_id", how="inner")
    .withColumn(
        "trip_duration_seconds",
        F.unix_timestamp("end_datetime") - F.unix_timestamp("start_datetime")
    )
    # Haversine distance (km) between start and end coordinates
    .withColumn("start_lat_r", F.radians("start_lat"))
    .withColumn("end_lat_r", F.radians("end_lat"))
    .withColumn("dlat", F.radians(F.col("end_lat") - F.col("start_lat")))
    .withColumn("dlon", F.radians(F.col("end_long") - F.col("start_long")))
    .withColumn(
        "a",
        F.pow(F.sin(F.col("dlat") / 2), 2)
        + F.cos("start_lat_r") * F.cos("end_lat_r") * F.pow(F.sin(F.col("dlon") / 2), 2)
    )
    .withColumn("c", 2 * F.atan2(F.sqrt("a"), F.sqrt(1 - F.col("a"))))
    .withColumn("distance_km", F.lit(6371.0) * F.col("c"))
    .drop("start_lat_r", "end_lat_r", "dlat", "dlon", "a", "c")
)

df_trip_summary.show(5, truncate=False)

+--------------------------------+---------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+
|trip_id                         |vehicle_spec_id|start_datetime     |start_lat         |start_long        |end_datetime       |end_lat           |end_long          |trip_duration_seconds|distance_km       |
+--------------------------------+---------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+
|00922df3be5a4589ab385d0c2da2dd81|1000507        |2017-01-06 23:00:03|31.8125           |-87.68666666666667|2017-01-06 23:48:16|31.8125           |-86.88305555555556|2893                 |75.93382043637968 |
|0244f7bc747b41fba6fcd75444736621|1000501        |2017-01-06 15:00:01|29.68777777777778 |-101.1875         |2017-01-06 15:09:01|29.837777777777777|-101.1875         |540                  |16.67923899668365 |
|02cdeb03041b450d83b18623ba7d6ae8|1000517        |2017-01-06 18:00:03|31.3125           |-89.81166666666667|2017-01-06 20:14:53|31.3125           |-87.56444444444445|8090                 |213.47990174411976|
|033a252fccc3488da8f0c343fb93ab10|1000513        |2017-01-06 15:00:06|29.689166666666665|-101.1875         |2017-01-06 16:25:36|31.11416666666667 |-101.1875         |5130                 |158.45277046849665|
|0379dabd796440b1aa11378795e859ed|1000511        |2017-01-06 23:00:01|32.062777777777775|-87.9375          |2017-01-06 23:59:57|33.06166666666666 |-87.9375          |3596                 |111.07137672606436|
+--------------------------------+---------------+-------------------+------------------+------------------+-------------------+------------------+------------------+---------------------+------------------+
only showing top 5 rows

In [17]:
df_final = (
    df_trip_summary
    .join(
        df_vehicle.select("vehicle_spec_id", "make", "model"),
        on="vehicle_spec_id",
        how="left"
    )
)

df_final.select(
    "trip_id",
    "end_datetime",
    "trip_duration_seconds",
    "distance_km",
    "make",
    "model"
).show(10, truncate=False)

+--------------------------------+-------------------+---------------------+------------------+-------+-------+
|trip_id                         |end_datetime       |trip_duration_seconds|distance_km       |make   |model  |
+--------------------------------+-------------------+---------------------+------------------+-------+-------+
|00922df3be5a4589ab385d0c2da2dd81|2017-01-06 23:48:16|2893                 |75.93382043637968 |Audi   |Q3     |
|0244f7bc747b41fba6fcd75444736621|2017-01-06 15:09:01|540                  |16.67923899668365 |Jeep   |Compass|
|02cdeb03041b450d83b18623ba7d6ae8|2017-01-06 20:14:53|8090                 |213.47990174411976|NULL   |NULL   |
|033a252fccc3488da8f0c343fb93ab10|2017-01-06 16:25:36|5130                 |158.45277046849665|NULL   |NULL   |
|0379dabd796440b1aa11378795e859ed|2017-01-06 23:59:57|3596                 |111.07137672606436|NULL   |NULL   |
|03e0a7f2f6204a3aa6d4e5ebd2fec5f7|2017-01-06 23:59:53|3589                 |94.32918324022503 |NULL   |NULL   |
|03fd5dc0e51443e69803aa0813f6ccfe|2017-01-06 17:04:18|7450                 |199.9044975112501 |NULL   |NULL   |
|057df3c6eacd439a8914d2424150da19|2017-01-06 23:38:41|5920                 |156.632110769927  |Hyundai|Creta  |
|0653060987cf4bfda6988cbab07b04b2|2017-01-06 23:51:05|3064                 |80.53075794295484 |NULL   |NULL   |
|07422af3a3d24358ab191cca830473e8|2017-01-06 22:15:17|4510                 |139.30253310193393|NULL   |NULL   |
+--------------------------------+-------------------+---------------------+------------------+-------+-------+
only showing top 10 rows

In [18]:
"""df0 = pa.read_table(full_file_path0)
print(df0.shape)
df0.slice(0, 10).to_pandas() 

df1 = pa.read_table(full_file_path1)
print(df1.shape)
df1.slice(0, 10).to_pandas()

df2 = pa.read_table(full_file_path2)
print(df2.shape)
df2.slice(0, 10).to_pandas()

df3 = pa.read_table(full_file_path3)
print(df3.shape)
df3.slice(0, 10).to_pandas()

df4 = pa.read_table(full_file_path4)
print(df4.shape)
df4.slice(0, 10).to_pandas()
"""

'df0 = pa.read_table(full_file_path0)\nprint(df0.shape)\ndf0.slice(0, 10).to_pandas() \n\ndf1 = pa.read_table(full_file_path1)\nprint(df1.shape)\ndf1.slice(0, 10).to_pandas()\n\ndf2 = pa.read_table(full_file_path2)\nprint(df2.shape)\ndf2.slice(0, 10).to_pandas()\n\ndf3 = pa.read_table(full_file_path3)\nprint(df3.shape)\ndf3.slice(0, 10).to_pandas()\n\ndf4 = pa.read_table(full_file_path4)\nprint(df4.shape)\ndf4.slice(0, 10).to_pandas()\n'